.categoryButton {
    border: none;
    text-decoration: none;
    color: #000000;
    background-color: white;
    border-radius: .33rem;
    padding: 1em;
    margin: 2rem 0 0 3rem;
    cursor: pointer;
}

.categoryButton:hover {
    background-color: #f0f0f0;
    transition: .2s;
}

.categoryButton.buttonActive {
    background-color: black;
    color: white;
   
    
}

.categoryButton:active {
    background-color: black;
    color: white;
}


