.categoryButton {
    border: none;
    text-decoration: none;
    color: #000000;
    background-color: white;
    border-radius: .33rem;
    padding: 1em;
    margin: 2rem 0 0 3vw;
    transition: all 0.4s;
    
    cursor: pointer;
}



.categoryButton:hover {
    background-color: #f0f0f0;
    transition: .2s;
}

.categoryButton.buttonActive {
    background-color: black;
    color: white;
   
    
}

.categoryButton:active {
    background-color: black;
    color: white;
}


@media only screen and (max-width: 600px) {
    .categoryButton {
        font-size: 3vw;
        transition: all 0.4s;
    }
}