.checkout-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 20rem 2rem 20rem;
}

label {
    cursor: pointer;
}

.radiobutton {
    margin: 0 1rem 1.5rem 0;
}

.form_name {
    width: 100%;
    margin: .5rem .5rem 0 0;
    padding: .67rem;
}

.input-fields {
    display: flex;
}

.h2-margin {
    margin-top: 1.5rem;
}

.buy-button {
    border: none;
    background-color: #E8F0FE;
    padding: .5rem;
    border-radius: 1rem;
    border: 1px solid;
    cursor: pointer;
    width: 6rem;
}

.buy-button:hover {
    background-color: #000000;
    color: white;
    transition: 0.1s;
}