.checkout-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 20rem 2rem 20rem;
}

.buy-button {
    border: none;
    background-color: white;
    padding: .33rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: .5rem;
    background-color: #f0f0f0;
    width: 5rem;
}

.buy-button:hover {
    background-color: #000000;
    color: white;
    transition: 0.1s;
}

.radiobutton {
    margin: 0 10px 10px 0;
}

.form_width {
    width: 22.5em;
}

.form_name{
    width: 11em;
    margin-right: 0.5em;
}